@keyframes fadeInZoomOutBackground {
    0% {
        transform: scale(1.8);
        opacity: 0;
    }
    10% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes fadeOutBlackOverlay {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 3s forwards;  
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.zoom-in {
    transform: scale(0.8);
    animation: zoomIn 3s forwards; 
}

@keyframes zoomIn {
    to {
        transform: scale(1);
    }
}

.logo.fade-in.zoom-in {
    animation: fadeInZoomIn 3s forwards;  
}

@keyframes fadeInZoomIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

