/* base.css */

/* Global styles */
body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
    color: white;
    overflow-x: hidden;  
    overflow-y: auto;  
    position: relative;
}


/* Logo styles */
.logo {
    width: 30%;
    margin-bottom: 15%;  
}

.center-logo-container {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh;      
}

/* Responsive adjustments for mobile */
@media (max-width: 600px) {
    .logo {
        width: 80%;
        margin-bottom: 35vh; 
    }
}

/* Hide overflow on desktop screens */
@media (min-width: 1024px) {
    body {
        overflow: hidden;
    }
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);  
    z-index: 1; 
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1; 
}

/* Background animations */
body::before, body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  
}

body::before {
    background-image: url('/static/images/background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    transform: scale(1.8); 
    opacity: 0;
    animation: fadeInZoomOutBackground 25s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

body::after {
    background-color: black;
    opacity: 1;
    animation: fadeOutBlackOverlay 5s ease-in-out forwards;
}

/* Responsive adjustments for mobile */
@media (max-width: 600px) {
    body {
        font-size: 14px; 
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .container {
        width: 100%;
        padding: 10px;
    }
}
