/* discover.css */

.discover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;  
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.discover-inner {
    width: 100%;
    min-width: 100%;
    display: grid;
    place-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.discover-title {
    color: white;
    font-weight: bold;
    margin-bottom: 1%;
    text-align: center;
    width: 100%;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.418);
}

.discover-band-box {
    /* Existing styles */
    min-width: 50%;  
    min-height: 100%;
    background-color: rgba(61, 1, 1, 0.88);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    color: white;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto; 
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%; 
    padding: 0 5%; 
}

.button-form {
    margin: 0 4%; 
}

.button-form button {
    padding: 15px 30px; 
    font-size: 1.2rem; 
    border-radius: 8px; 
    cursor: pointer;
}

/* Media query for mobile view */
@media (min-width: 100%) {
    .discover-band-box {
        margin: 0 auto;  
        padding: 20px;  
    }
}



.no-bands {
    color: white;
    text-align: center;
}

.player-link {
    color: white;
}