/* Navbar styling */
nav.navbar {
    background-color: rgba(78, 1, 1, 0.711); /* Semi-transparent background using rgba */
    z-index: 1; /* Ensures the navbar is above the background */
    display: flex;
    align-items: center;
    height: 100px; /* Increased height */
    font-size: 1.25rem; /* Increase font size */
}

nav .container-fluid {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-nav {
    display: flex;
    align-items: center; /* Align items vertically within the navbar */
    height: 100%;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center; /* Align items vertically within the nav item */
    height: 100%; /* Ensure the nav item takes up the full height of the navbar */
    background-color: rgba(255, 255, 255, 0.2); /* Less transparent background for nav items */
    padding: 0 30px; /* Increased padding */
    border-radius: 5px;
    margin-right: 15px; /* Increased margin */
}

.navbar-nav .nav-item a.nav-link {
    display: flex;
    align-items: center; /* Align items vertically within the link */
    height: 100%; /* Ensure the link takes up the full height of the nav item */
    color: rgba(255, 255, 255, 0.962); /* Ensure the text color is visible */
    font-size: 1.8rem; /* Ensure the text inside the boxes is larger as well */
    letter-spacing: 1.8px;
}
