.hi{
    background-color:#fc03df
}

.half{
    width: 50%
}

.ih{
    height: 50px;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* style.css */

/* Form container */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Form input fields */
.form-control {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* Form button */
.btn-submit {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #c82333;
}

/* Error message */
.error-message {
    color: #dc3545;
    font-size: 14px;
}



.nav-link {
    font-weight:600;
}

a.c4:hover {
    color: #A37B73;
}

a.c1:hover {
    color: #A37B73;
}

.c1 {
    color: #B42424;
}
.c2 {
    color: #DBBEA1;
}
.c3 {
    color: #A37B73;
}
.c4 {
    color: #3F292B;
}
.c5 {
    color: #FFA547;
}

.c1b {
    background-color: #B42424;
}
.c2b {
    background-color: #DBBEA1;
}
.c3b {
    background-color: #A37B73;
}
.c4b {
    background-color: #3F292B;
}
.c5b {
    background-color: #FFA547;
}

.b {
    font-weight: 600;
}

p, h1, h2, h3 {
    color: #3F292B;
}



a {
    text-decoration: none; /* Remove underline */
}





