<!-- templates/profiles/user_bands.html -->

{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ current_user.full_name }}'s Bands</h2>
    {% if user_bands %}
        <ul>
            {% for band in user_bands %}
                <li>
                    <strong>{{ band.band_name }}</strong> - {{ band.band_genre }} (Created on {{ band.creation_date }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are in no bands yet</p>
    {% endif %}
</div>
{% endblock %}
