{% extends "base.html" %}

{% block title %}
Index
{% endblock %}

{% block body %}
<img src="static/images/guitar-superres-trans2.webp" class="mx-auto d-block" alt="Centered Image">
<img src="static/images/guitar-superres-trans2.webp" class="mx-auto d-block" alt="Centered Image">
<img src="static/images/guitar-superres-trans2.webp" class="mx-auto d-block" alt="Centered Image">
<img src="static/images/guitar-superres-trans2.webp" class="mx-auto d-block" alt="Centered Image">
<img src="static/images/guitar-superres-trans2.webp" class="mx-auto d-block" alt="Centered Image">
{% endblock %}