{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
<div class="vh-100 mx-auto pt-5" style="width: 30%;">
    <p class="fs-2 text-center", style="font-family: Inter">Register Now!</p>
    <form class="text-center" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group ih">
             {{ form.fullname(class="form-control") }}
        </div>
        <div class="form-group", style="height: 100px;">
            {{ form.instrument.label(class="d-block text-center mb-1") }}
            {{ form.instrument(class="form-control") }}
            {% if form.instrument.errors %}
                <ul class="text-danger">
                {% for error in form.instrument.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group ih", style="height: 90px">
            {{ form.proficiency.label(class="d-block text-center mb-1") }}
            {{ form.proficiency(class="form-control") }}
        </div>
        <div class="form-group", style="height: 100px;">
            {{ form.cities.label(class="d-block text-center mb-1") }}
            {{ form.cities(class="form-control") }}
            {% if form.cities.errors %}
                <ul class="text-danger">
                {% for error in form.cities.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group ih">
             {{ form.username(class="form-control") }}
        </div>
        <div class="form-group ih">
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group ih">
            {{ form.submit(class="btn btn-danger") }}
        </div>
    </form>
    <div>
        {% with messages = get_flashed_messages() %}  
            {% if messages %}  
                {% for message in messages %}  
                    <div class = "text-center fs-5 text-danger" style="font-family: Inter">{{ message }}</div>  
                {% endfor %}  
            {% endif %}  
        {% endwith %} 
    </div>
    
</div>


{% endblock %}